<div class="container">

<h1 class='title'>Teach<span class='logoM'>M</span>e</h1>

<h1 class='about'>"Patience, all your questions will be answered.."</h1>

<h3 class='about'>Who are we?</h3>
<p class='about'>
We're a small company in Santa Monica that specializes in bringing people together to share their knowledge and skills with one another. Learning is fun, right? We agree, we beleive learning can be even better when it's one on one, and at the exact pace the indivdual needs. Browse our listings, and don't be shy to post what you can teach someone today!
</p>

<h3 class='about'>Who are the teachers?</h3>
<p class='about'>
They're aliens that decided to step away from the entertainment industry after wrapping up the movie "Independence Day." Just kidding, of course. They're people just like you and me! Everyone is good (or great) at something, and are teachers have decided to pass their knowledge on to you! Sometimes for money, and sometimes they're willing to do exchange lessons for lessons. What are you bringing to the table? Feel free to post your offering and contact other "teachers" that interest you.
</p>


<h3 class='about'>Who can sign up?</h3>
<p class='about'>
Only people with the first name "Neo." Kidding again. Anyone can sign up, we encourage more users, but trust that people offering lessons are indeed qualified to be teaching. Be honest, have integrity, and test yourself. Are you genuinly capable of teaching others? We believe in you!!
</p>

<h3 class='about'>How do I get connected?</h3>
<p class='about'>
Open an account at with the "Sign Up" link at the top of each page, and wait for interested parties to inquire. Connect and share on your favorite social media pages to get spread the word and breed more users!
</p>

<h3 class='about'>Can I feature you in our press media?</h3>
<p class='about'>
Awesomness! Please use our "Press" link in the "Contact" section in the footer or use our "Contact Us" form to set something up. We look forward to hearing from you!
</p>

</div>
