<div class="footer">
<p id='footer1'>TeachMe<a href="#top" class='returnTop'>Return to Top &uarr;</a></p>
<hr>
<ul class='foot About'>
  <li class='footerLine first'>About</li>
  <li class='footerLine' >|&nbsp;&nbsp;&nbsp;&nbsp;Our Company</li>
  <li class='footerLine'>Terms & Conditions</li>
</ul>

<ul class='foot Contact'>
  <li class='footerLine first'>Contact</li>
  <li class='footerLine'>|&nbsp;&nbsp;&nbsp;&nbsp;Customer Service </li>
  <li class='footerLine'>Press</li>
</ul>

<ul class='foot Connect'>
  <li class='footerLine first'>Connect</li>
  <li class='footerLine'>|&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag "fb.jpg", alt: "facebook link" %> &nbsp;Facebook</li>
  <li class='footerLine'>
    <%= image_tag "twit.jpg", alt: "twitter link" %> &nbsp;Twitter
  </li>

  <li class='footerLine'>
    <%= image_tag "goog.jpg", alt: "google link" %> &nbsp;Google
  </li>

  <li class='footerLine'>
    <%= image_tag "pint.jpg", alt: "pinterest link" %> &nbsp;Pinterest
  </li>

</ul>

</div>
