// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signInField label{
  width: 120px;
  text-align: right;
  display: inline-block;
}

.addNewPoster{
  color: red;
  height: 150px;
  width: 150px;
  font-size: 22px;
  line-height: 150px;
  border-radius: 50%;
  border: 3px solid red;
  clear: both;
  position: relative;
  top: 50px;
  margin: 40px auto;
}

.addNewPoster:hover{
  cursor: pointer;
}

// CREATE NEW POSTER BOX:
.newPoster{
  width: 450px;
  min-height: 360px;
  max-height: 400px;
  text-align: center;
  border: 1px solid grey;
  padding: 40px 0 20px 0;
  margin: 30px auto;
  clear: both;
  position: relative;
  top: 50px;
  display: none;
  border-radius: 7px;
}

.newPosterLine{
  min-height: 40px;
  width: 100%;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  clear: both;
}

.newPosterLine label{
  width: 25%;
  text-align: right;
  position: relative;
  display: inline-block;
  left: 0%;
  font-size: 22px;
  margin-left: 30px;
  vertical-align: top;
}

.newPosterInput{
  height: 28px;
  font-size: 20px;
  width: 50%;
  margin-left: 15px;
}

.newField{
  height: 120px;
  vertical-align: top;
  font-size: 15px;
}

.newPosterLine .button {
  width: 120px;
  height: 33px;
  font-size: 18px;
  color: white;
  border: none;
  background-color: red;
  border-radius: 6px;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
}

// END OF NEW POSTER BOX STYLING

// NEW USER STYLING
.signUpContainer{
  width: 100%;
  min-height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: asset_url('wspcs.jpg');
  background-size: cover;
  opacity: 0.95;
  z-index: -1;
}

.signButton{
  height: 32px;
  background-color: teal;
  border-radius: 5px;
  width: 120px;
  color: white;
  border: none;
  font-size: 16px;
  line-height: 32px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 25px;
}

// END OF NEW USER STYLING

// UPDATE USER STYLING
.updateHeader{
  margin: 35px 0;
  font-size: 28px;
}

.updateInput{
  height: 30px;
  width: 10%;
  min-width: 230px;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 5px 0 5px;
  border: 1px solid grey;
  margin-left: 5px;
}

// END UPDATE USER STYLING
