// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signInField label{
  width: 110px;
  text-align: right;
  display: inline-block;
}

.addNewPoster{
  color: red;
  height: 150px;
  width: 150px;
  font-size: 22px;
  line-height: 150px;
  border-radius: 50%;
  border: 3px solid red;
  clear: both;
  position: relative;
  top: 30px;
  margin: 40px auto;
}

.addNewPoster:hover{
  cursor: pointer;
}

// CREATE NEW POSTER BOX:
.newPoster{
  width: 450px;
  min-height: 360px;
  max-height: 400px;
  text-align: center;
  border: 1px solid grey;
  padding: 20px 0;
  margin: 30px auto;
  clear: both;
  position: relative;
  top: 50px;
  display: none;
  border-radius: 7px;
}

.newPosterLine{
  min-height: 40px;
  width: 100%;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  clear: both;
}

.newPosterLine label{
  width: 25%;
  text-align: right;
  position: relative;
  display: inline-block;
  left: 0%;
  font-size: 22px;
  margin-left: 30px;
  vertical-align: top;
}

.newPosterInput{
  height: 28px;
  font-size: 20px;
  width: 35%;
  margin-left: 15px;
}

.newField{
  height: 120px;
  vertical-align: top;
  font-size: 15px;
}

.newPosterLine .button {
  width: 120px;
  height: 33px;
  font-size: 18px;
  color: white;
  border: none;
  background-color: red;
  border-radius: 6px;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
}

// END OF NEW POSTER BOX STYLING
